
:root{
  --width-slide: 100%;
  --heigh-slide: 670px;
  --hthumb: 150px;
  --wthumb: 100%;
}

.slideshow{
  width: var(--width-slide) !important;
  height: var(--heigh-slide) !important;
}
  
.imgformat{
  object-fit: none;
  width: var(--width-slide) !important;
  height: var(--heigh-slide) !important;
}


img.thumb {
  object-fit: cover !important;
  width: var(--wthumb) !important;
  height: var(--hthumb) !important;
}

h5.editarfont{
    font-size: 250%;
}
