

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

nav.navbarsettings{
  z-index: 200 !important;
}

iframe.main{
  margin-top: 57px;
  border: none; 
  flex-wrap: wrap !important;
  width: 100%;
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
}