.index-page__background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

    .index-page__background::before {
        content: ' ';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-image: url('../../assets/imgs/background.jpg');
        z-index: -1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(4px);
    }

.index-page__form {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 4rem;
    border-radius: var(--default-radius);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.index-page__form-title {
    font-family: var(--merienda-font);
    font-size: 3rem;
    color: var(--gold-color);
    margin-bottom: 1rem;
}

.index-page__form-span {
    font-size: 1.5rem;
}

.index-page__form-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

.index-page__form-button {
    flex-grow: 1;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: black;
    transition-property: color,background-color;
    transition-duration: 300ms;
}

    .index-page__form-button:first-child {
        border-bottom-left-radius: var(--default-radius);
        border-right: 1px solid rgba(255, 255, 255, 0.3);
    }

    .index-page__form-button:last-child {
        border-bottom-right-radius: var(--default-radius);
    }

    .index-page__form-button:hover {
        color: black;
        background-color: white;
    }

@media (max-width: 690px) {
    .index-page__form {
        width: 100vw;
        height: 100vh;
        padding: 0;

        border-radius: 0;
        justify-content: center;
    }

    .index-page__form-button:first-child {
        border-bottom-left-radius: 0;
    }

    .index-page__form-button:last-child {
        border-bottom-right-radius: 0;
    }
}

@media (max-width: 560px) {
    .index-page__form-title {
        font-size: 2rem;
    }

    .index-page__form-span {
        font-size: 1rem;
    }
}

@media (max-width: 390px) {
    .index-page__form-title {
        font-size: 1.5rem;
    }

    .index-page__form-span {
        font-size: 1rem;
    }
}
